<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    <h1>Login</h1>

      <form action="/login/check" method="POST" >
        <div id="todo-table">
          <input type="text" name="username" required>
        </div>
        <div id="todo-table">
          <input type="password" name="password" required>
        </div>
          <button type="submit">Login</button>
      </form>

  </body>

</html>
