<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TUTORIAL</title>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <% include partials/nav.ejs %>

    <h1>This is a testing of node.js tutorial, made by the NET ninja</h1>
    <p>
    huehuehuehuehuehuehuehuehue
    </p>
  </body>
</html>
